body {
    background-color: rgb(65, 65, 65);
}
.my-atropos {
    width: 160px;
    height: 290px;
  
  }


.fImage {
    width: 100%;
    height: 50%;
   

}

header {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw; 
}

.flexer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.ShBorder {
border: 2px solid black;
}

.muestra{
    width: 90%;
    height: 400px;
}
 
main {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
}

